<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<title>Modal Window | TORAY</title>
<meta name="description" content="">
<link rel="preload" href="/shared/fonts/svgicon.woff?a8ryc2" as="font" crossorigin>
<link rel="stylesheet" href="/shared/css/common.css">
<link rel="apple-touch-icon" href="//www.toray.com/apple-touch-icon.png">
<link rel="canonical" href="https://carbon-fiber.toray/xxx/xxx.html">
<script src="/shared/js/jquery-3.5.1.min.js"></script>
<script src="/shared/js/plugins.js"></script>
<script src="/shared/js/base.js"></script>

<link rel="stylesheet" type="text/css" href="modal.css">
<script>
  window.onload = function(){
  if(window.parent && window.self){
    if(window.parent.location == window.self.location){
      document.getElementsByTagName('body')[0].id = "directOpen";
    }else{
    }
  }
}
$(function(){
  if($UA.isTablet){
    $('body').addClass('tbAdjust');
  }
});
</script>

</head>

<body id="frameOpen">
<!-- ===== header ====== -->
<header id="ly_header" class="ly_header inc_header"><!-- /shared/inc/inc_header --></header>
<!-- ===== /header ====== -->

<!-- ===== globalNav ====== -->
<nav id="globalNav" class="ly_globalNav inc_globalnav"><!-- /shared/inc/inc_globalnav --></nav>
<!-- ===== /globalNav ====== -->

<!-- ===== breadCrumb ====== -->
<div class="breadCrumb">
<ul>
<li><a href="../../">HOME</a></li>
<li>xxxxxxx</li>
</ul>
<!-- ===== /breadCrumb ====== --></div>

<!-- ===== contents ====== -->
<main class="ly_mainContents" id="contents">

<h1>Message from the President</h1>
<h2 class="h2Type01">Contributing to society through the creation of new value with innovative ideas, technologies and products.</h2>


<p class="mgnB30">
Toray Group is guided by the corporate philosophy of &quot;Contributing to society through the creation of new value with innovative ideas, technologies and products.&quot; As a part of the basic materials industry, we have been striving relentlessly to develop and commercialize new technologies and products that contribute to the global environment as well as the security, safety and quality of life of people. At the same time, Toray Group has positioned corporate ethics, legal compliance as well as safety, accident prevention and environmental preservation as priority issues for management. We are actively engaged in fulfilling our corporate social responsibility (CSR), and maintaining our position as a corporate group of considerable significance for all stakeholders.</p>

<p class="mgnB30">
Toray Group formulated the long-term corporate vision AP-Growth TORAY 2020, a unified roadmap for management activities with focus on the business structure around 2020. Guided by this vision, and with &quot;Innovation by Chemistry&quot; as our corporate slogan, we will actively pursue technological innovation founded on chemistry. Our activities are driven by the unwavering aspiration to become a global top company of advanced materials. In addition to further expanding our global business activities, we will enhance Toray Group's presence in Green Innovation Businesses that contribute to resolving today's increasingly critical global environment, resource and energy issues. By further intensifying our focus on each of these areas, we will more efficiently identify and capture business opportunities. Collectively, these efforts will help Toray Group secure sustained revenue and profit growth.</p>

<p class="mgnB30">
As the second step in implementing its long-term corporate vision, Toray Group is promoting Project AP-G 2016, a three-year medium-term management program extending from April 2014 through March 2017.  In the program, Toray is pursuing a growth strategy that prioritizes business expansion in growth business fields and regions while striving to further bolster its total cost competitigeness.<br>
While leveraging growth opportunities in Asia and emerging countries elsewhere, we will expand existing businesses and establish new businesses in four major growing fields: (1) environment, water-related and energy; (2) information, telecommunications and electronics; (3) automobiles and aircraft; and (4) life science. In particular, Toray Group will put comprehensive and potent resources into Green Innovation Businesses that help resolve increasingly serious global environmental, resource and energy issues. And we will expand Life Innovation Businesses to improve quality of healthcare, ease burden on medical institutions, and contribute to health and longevity. </p>

<p class="mgnB20">I hope this website will be of help to you in gaining a better understanding of Toray Group.</p>

</main>
<!-- ===== /contents ====== -->

<!-- ===== footer ====== -->
<footer class="ly_footer inc_footer"><!-- /shared/inc/inc_footer --></footer>
<!-- ===== /footer ====== -->
<p id="pagetop" class="pagetop" role="presentation" aria-label="ページトップへ戻る"><a href=""></a></p>

<script src="/shared/js/plugins.js"></script>
<script src="/shared/js/base.js"></script>

</body>
</html>
